<!doctype html>
<html>
<head>
	<title>GPIO with Flask!</title>
</head>
<body>
<form action = "/" method="POST">
<p style="color:red;">Red: <input type="radio" name="red" value="on">On
<input type="radio" name="red" value="off" checked>Off
Currently: {{red}}
<p style="color:blue"  >Blue: <input type="radio" name="blue" value="on">On
<input type="radio" name="blue" value="off" checked>Off
Currently: {{blue}}
<p style="color:green" >Green: <input type="radio" name="green" value="on">On
<input type="radio" name="green" value="off" checked>Off
Currently: {{green}}
<p><input type="submit" value="submit" /></p>
</form>
<body>
</html>
